
*{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 500px;
    width: 100%;
    background-image: url(../img/unknown.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #004da7;
    background-position: center center;
}
#menu{
    display: flex;
    justify-content: space-between;
    background-color: #01418a;
    padding: 15px;
    position: fixed;
    width: 98%;
    z-index: 10;
    border-radius: 0 0 8px 8px
}
#logo{
    width: 50px;
}
#menu #info{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
}
#menu li{
    list-style: none;
    transition: all 0.1s ease-in-out;
}
#menu #social{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    font-size: 20pt;
    align-items: center;

}
#social li{
    transition: all 0.1s ease-in-out;
}
#social li:hover{
    transform: scale(1.2);
}
#menu a{
    text-decoration: none;
    /* color: black; */
    color: white;
}
#info a{
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    padding: 10px;
}
#info a:hover{
    color: #ffdd70;
}

#info a::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffdd70;
    transform: scaleX(0) translateY(4px);
    transition: transform 0.2s ease-in-out;
}
#info a:not(#logo):hover::after{
    transform: scaleX(1) translateY(-5px);
}
#logoo:hover{
    transform: scale(1.15);
}

.pagina{
    width: 75%;
    margin: auto;
    /* border: 1px black solid; */
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.pagina header{
    text-align: center;
    font-size: 20pt;
    background-color: #004da7;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease-out ;
    letter-spacing: 2px;
    cursor: default;
    position: relative;
    z-index: 1;
}
.pagina header:hover{
    color: #004da7; 
}

.pagina header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: white;
    width: 100%;
    transition: all 0.3s ease-out;
    z-index: -1;
    border-radius: 10px;
    transform: scale(0);

}
.pagina header:hover::after{
        /* width: 100%; */
        transform: scale(1);
}
p{
    text-indent: 30px;
    margin-bottom: 20px;
    line-height: 25px;
    color: rgb(68, 68, 68);
    letter-spacing: 1px;
    font-size: 12pt;
}
article{
    border-left: 2px #ffdd70 solid;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;

}

#cards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card img{
    /* width: 200px; */
    height: 200px;
}
.card:hover{
    transform: scale(1.1);
}
.card{
    /* border: 1px black solid; */
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.308);
    border-radius: 500px;
    padding: 20px;
    width: 200px;
    height: 200px;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

#btn{
    padding: 10px;
    display: block;
    margin: auto;
    background-color: white;
    border: 2px solid #004da7;
    font-weight: bold;
    color: #004da7;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 15pt;
    border-radius: 8px;
    transition: all 0.3s ;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.171);
    position: relative;
    overflow: hidden;
}

#btn:hover{
    color: white;
    transform: scale(1.05);
}
#btn::after{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #004da7;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: height 0.3s ;
}
#btn:hover::after{
    height: 370%;
}
#btn:focus{
    outline: none;
}

.modal-bg{
    display: flex;
    background-color: rgba(0, 0, 0, 0.288);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    display: none;
}
.modal-content{
    /* height: 100px;
    width: 200px; */
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 25%;
    z-index: 2;

}

input, select{
    display: block;
    padding: 10px 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #ffdd70;
    font-size: 13pt;
    box-sizing: border-box;
    width: 100%;
}
input, select:focus{
    outline: none;
}
label{
    font-weight: bold;
    color: #004da7;
}

#close{
    position: relative;
    top: -10px;
    left: 98%;
    font-size: 14pt;
    background-color: transparent;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.1s ease-in-out;
}
#close:hover{
    transform: scale(1.05);
}
#close:focus{
    outline: none;
}

#modal-out{
    background-color: rgba(0, 0, 0, 0.288);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

#form-title{
    text-align: center;
    background-color: #004da7;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease-out ;
    letter-spacing: 2px;
    cursor: default;
    position: relative;
    z-index: 1;
}

#form-title:hover{
    color: #004da7 ; 
}

#form-title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: white;
    width: 0;
    transition: all 0.3s ease-out;
    z-index: -1;
    border-radius: 10px;
}
#form-title:hover::after{
        width: 100%;
}

#enviar{
    width: 125px;
    border: none;
    background-color: #004da7 ;
    color: white;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: bold;
    margin: auto;
    margin-top: 30px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
#enviar:hover{
    transform: scale(1.05);
}

footer{
    background-color: #004da7;
    text-align: center;
    padding: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26); */
}
#membros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#membros li{
    list-style: none;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffdd70;
    font-size: 20pt;
    padding: 10px;
    border-radius: 8px;
    width: 700px;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    cursor: default;
}
/* #membros li:hover{
    color: white;
    box-shadow: none;
}
#membros li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: #ffdd70;
    width: 0;
    transition: all 0.3s ease-out;
    z-index: -1;
    border-radius: 8px;
}
#membros li:hover::after{
    width: 100%;
} */
#membros .yellow{
    color: white;
    background-color: #ffdd70;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.158);
}
/* #membros .yellow:hover{
    color: #ffdd70;

}
#membros .yellow::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: white;
    width: 0;
    transition: all 0.3s ease-out;
    z-index: -1;
    border-radius: 8px;
}
#membros .yellow:hover::after{
    width: 100;
} */

#videos{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#videos p{
    text-indent: 0;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    font-weight: bold;
    /* background-color: #ffdd70; */
    margin-top: -4px;
    color: #004da7;
    border-radius: 0 0 10px 10px;
    cursor: default;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.116);
    transition: all 0.2s ;
}


